/**
 * Global document styles
 */

body
	color: black
	background: white
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif
	width: 100vw
	min-height: 100vh
	overflow-x: hidden
	font-weight: 400
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility

a
	color: blue

li, p
	margin-bottom: 10px/2

img
	user-select: none
	max-width: 100%

#app-container
	padding 0 15px
